$primary-color: #32D9EA;
$primary-fuente: 'Open Sans', sans-serif;
$fondo-navegacion: #000;
$color-header-noticia: black;
$color-border-noticia: red;

$numero-columnas: 12;

$tablet: 768px;
$desktop: 1024px;
